<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="moe.seclan.backend.mapper.AdminMapper">

    <select id="getByUsernameAndPassword" resultType="moe.seclan.backend.pojo.Admin">
        SELECT *
        FROM admin
        <where>
            <if test="username != null and username != ''">
                username = #{username}
            </if>
            <if test="passwordHash != null and passwordHash != ''">
                and password_hash = #{passwordHash}
            </if>
        </where>
    </select>
</mapper>

