<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="moe.seclan.backend.mapper.StudentMapper">
    <select id="getPages" resultType="moe.seclan.backend.pojo.Student">
        select *
        from student
        <where>
            <if test="studentId != null and studentId != ''">
                student_id like concat (#{studentId}, '%')
            </if>
            <if test="name != null and name != ''">
                and name like concat('%', #{name}, '%')
            </if>
            <if test="major != null and name != ''">
                and major like concat('%', #{major}, '%')
            </if>
            <if test="schoolClass != null and name != ''">
                and school_class like concat('%', #{schoolClass}, '%')
            </if>
        </where>
        limit #{start}, #{limit}
    </select>
</mapper>